:root{
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --bg: hsl(0, 0%, 98%);
  --el: hsl(0, 0%, 100%);
  --b-shadow: 0 0px 10px hsl(0, 0%, 80%);
}

[data-theme="dark"]{
  --el: hsl(209, 23%, 22%);
  --input: hsl(209, 23%, 22%);
  --bg: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --b-shadow: 0 0px 10px hsl(0, 0%, 10%);
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strong{
  font-weight: 600;
}

.weight-800{
  font-weight: 800;
}

.content-width{
  width: min(100%, 86rem);
  margin-inline: auto;
  padding: 1rem;
}

@media screen and (min-width: 435px){
  .content-width{
    padding: 2rem;
  }
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.list-style-none{
  list-style: none;
}