:root{
/*- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)*/
--el-bg-dm: hsl(209, 23%, 22%);
/*- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)*/
--bg-dm: hsl(207, 26%, 17%);
/*- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)*/
--text-lm: hsl(200, 15%, 8%);
/*- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)*/
--input-lm: hsl(0, 0%, 52%);
/*- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)*/
--bg-lm: hsl(0, 0%, 98%);
/*- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)*/
--text-dm--el-lm: hsl(0, 0%, 100%);

--b-shadow-lm: 0 0px 10px hsl(0, 0%, 80%);
;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strong{
  font-weight: 600;
}

.weight-800{
  font-weight: 800;
}

li{
/*  margin: 0 0 0.5em;*/
}

/* .dark-mode main{  
  background-color: var(--bg-dm);
}

.dark-mode header, .dark-mode input, .dark-mode li, .dark-mode ul, .dark-mode button, .dark-mode select{
  background-color: var(--el-bg-dm);
}

.dark-mode, .dark-mode *, .dark-mode button a{
  color: var(--text-dm--el-lm);
}*/