:root{
/*- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)*/
--el-bg-dm: hsl(209, 23%, 22%);
/*- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)*/
--bg-dm: hsl(207, 26%, 17%);
/*- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)*/
--text-lm: hsl(200, 15%, 8%);
/*- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)*/
--input-lm: hsl(0, 0%, 52%);
/*- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)*/
--bg-lm: hsl(0, 0%, 98%);
/*- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)*/
--text-dm--el-lm: hsl(0, 0%, 100%);

--b-shadow-lm: 0 0px 10px hsl(0, 0%, 80%);
;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strong{
  font-weight: 600;
}
