.filter{
	padding: 2rem 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-block{
	box-shadow: var(--b-shadow);
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: var(--el);
	color: var(--text);
	margin-bottom: 2rem;
	overflow: hidden;
	width: min(25em, 100%);

}

.search-icon{
	padding: 0 1.5em;
}

.search{
	outline: none;
	border: 0;
	background-color: var(--el);
	color: var(--text);
	padding: 1em 1em 1em 0;
	width: 100%;
}

.option{
	border-radius: 5px;
	box-shadow: var(--b-shadow);
	background-color: var(--el);
	color: var(--text);
	padding: 1em;
	border: 0;
	outline: 0;
	margin-bottom: 2rem;
	width: min(17em, 100%);
}