.header{
    background-color: var(--el);
    box-shadow: var(--b-shadow);
    z-index: 6000;
    position: relative;
    width: 100%;
}

.header-content--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 18px;
    font-weight: 800;
    color: var(--text);
}

@media screen and (min-width: 435px){
    .title{
        font-size: 25px;
    }
}

button.button--dark-mode{
    box-shadow: none;
}