.header{
    background-color: var(--el);
    box-shadow: var(--b-shadow);
    z-index: 6000;
    position: relative;
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.title{
    font-size: 25px;
    font-weight: 800;
    color: var(--text);
}

button.button--dark-mode{
    box-shadow: none;
}