.interior{
	background-color: var(--bg);
	color: var(--text);
	font-size: 16px;
}

.interior-content--flex{
	display: flex;
	flex-wrap: wrap;
}

.flag{
	width: 100%;
}

.interior ul li{
	margin-bottom: 0.5em;
}

.borders{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.button--border{
	padding-inline: 1em;
	margin: 0.5em;
}

.button--border a{
	color: var(--text);
	text-decoration: none;
}